/*Body*/
body {
    color: #5a5a5a;
  }

/*Text*/

.titlespan{
    color: black;
    background-color: yellow;
}    







  

/*Elements*/

.news-divider {
    margin: 5rem 0; 
  }
  
.news-heading {
    padding-top: 25%;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
