<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../views/style/icon.png" type="image/x-icon">
    <!--Bootstrap here-->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!--Bootstrap here-->
    <link rel="stylesheet" href="./style/main.css">
    <title>Calculadora - João Felipi Cardoso</title>
</head>
<body class="bg-dark">

<header>
<div class="back-prp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Calculadora com Javascript + Bootstrap!</h1>
                <div id="liveAlertPlaceholder"></div>
            </div>
        </div>
    </div>
</div>
</header>




<main>
    <div class="container main justify-content-center">
        <div class="row my-2 mx-5">
            <input type="result" class="form-control-lg" id="result"  placeholder="" aria-describedby="Result" value="" readonly>
        </div>
        
        <div class="row justify-content-center">

            <div class="col justify-content-start">
                <div class="row" id="numbers">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-0" onclick="selectNum(0)">0</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-1" onclick="selectNum(1)">1</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-2" onclick="selectNum(2)">2</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-3" onclick="selectNum(3)">3</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-4" onclick="selectNum(4)">4</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-5" onclick="selectNum(5)">5</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-6" onclick="selectNum(6)">6</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-7" onclick="selectNum(7)">7</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-8" onclick="selectNum(8)">8</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info btn-lg btn-block" id="btn-9" onclick="selectNum(9)">9</button>
                    </div>

                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-dot" onclick="dot()">.</button>
                    </div>

                </div>
            </div>

            <div class="col border-danger justify-content-end" id="operators">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" id="btn-clear" onclick="clear()">C</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-sub" onclick="selectOperator('-')">-</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-add" onclick="selectOperator('+')">+</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-div" onclick="selectOperator('/')">/</button>
                    </div>
        
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-mult" onclick="selectOperator('*')">*</button>
                    </div>

                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="btn-equal" onclick="showResults()">=</button>
                    </div>
                </div>
            </div>
      

        
       

</main>



  



<footer>
    <div class="container bg-dark fixed-bottom">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>João Felipi Cardoso - <a href="https://github.com/snow-sr" target="_blank" class="text-decoration-none text-info">@snow-sr</a></p>
            </div>
        </div>
    </div>
</footer>    

<script>
var alertPlaceholder = document.getElementById('liveAlertPlaceholder')

var scr = document.getElementById('result')

var equal = document.getElementById('btn-equal').addEventListener('click', easter)

var clear = document.getElementById('btn-clear').addEventListener('click', clear)

function alert(message, type) {
  var wrapper = document.createElement('div')
  wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '</div>'

  alertPlaceholder.append(wrapper)
}

function easter() {
    var decimals = (scr.value + "").split(".")[1].length
    console.log(decimals)
    if (scr.value == 2212){
    alert('Opa! Bolo?', 'info')

    }else if(scr.value == "erro, dividir por 0 pode ter consequências fatais."){
       alert('Mas se você quiser...', 'danger') 
    }else if(decimals >= 5){  
        alert("Cuidado, Javascript tem problemas com muitas casas decimais, valor aproximado;", "warning")
    }
    else{
        alertPlaceholder.innerHTML = ''
    }
    
}

function clear() {
    alertPlaceholder.innerHTML = ''
}



</script>

<!--Bootstrap here-->
<script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
<!--Bootstrap here-->
<script src="../scripts/main.js"></script>
</body>
</html>