body{
    background-color: #121212;
    width: 100%;
    height: 100%;
}

.centered{
    background-color: #564D80;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

