<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Love, Death & Robots</title>
</head>
<body>

    <header>
        <nav class="Navbar">
            <ul>
             <li><a href="index.html">Love, Death & Robots</a><li>
             <li style="float: right;"><a href="platforms.html" class="active">Plataformas para assistir</a></li>   
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div style="width:100%;height:0;padding-bottom:50%;position:relative;">
            <iframe src="https://giphy.com/embed/psmh2jZc6PT0GsHJFI" width="100%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1 class="titleP">E onde assistir?</h1> 
            <aside>
                <div class='Main column'>
                    <img src="../images/netflix.png" alt="Netflix" class="img">
                    <h3 class="about">Infelizmente, A única plataforma para assistir esta série é a Netflix.</h3>
                </div> 
            </aside>
            </div>
        </section>
        

    </main>

    <footer class='footer'>
        <div class="footerCTN">
            <h4>João Felipi Cardoso</h4>
            <hr>
            <p>Fontes: Giphy, Wikipedia</p>
        </div>
    </footer>

</body>
</html>